node-red/data/flows.json
[
    {
        "id": "f6054fb420cc5826",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "17c8c415fec87094",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6ef436832a73cd28",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ba8545cf9978a32e",
        "type": "inject",
        "z": "f6054fb420cc5826",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "c6fb48ea036c4fd7"
            ]
        ]
    },
    {
        "id": "c6fb48ea036c4fd7",
        "type": "function",
        "z": "f6054fb420cc5826",
        "name": "function 1",
        "func": "let lastValue = context.get(\"lastValue\") || 22;\nlet variation = (Math.random() - 0.5) * 1.2;\nlet newValue = lastValue + variation;\n\nnewValue = Math.max(18, Math.min(30, newValue));\n\ncontext.set(\"lastValue\", newValue);\n\nmsg.topic = \"scada/temperature\";\nmsg.payload = {\n    sensorId: \"temp-001\",\n    value: Number(newValue.toFixed(2)),\n    unit: \"C\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 220,
        "wires": [
            [
                "e7ce1f9114d87712"
            ]
        ]
    },
    {
        "id": "e7ce1f9114d87712",
        "type": "mqtt out",
        "z": "f6054fb420cc5826",
        "name": "",
        "topic": "scada/temperature",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6ef436832a73cd28",
        "x": 530,
        "y": 320,
        "wires": []
    },
    {
        "id": "fb6cd975bfec0309",
        "type": "inject",
        "z": "f6054fb420cc5826",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "f9c78f039731ebe3"
            ]
        ]
    },
    {
        "id": "f9c78f039731ebe3",
        "type": "function",
        "z": "f6054fb420cc5826",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 520,
        "wires": [
            [
                "5b0adfc02838f31b"
            ]
        ]
    },
    {
        "id": "5b0adfc02838f31b",
        "type": "mqtt out",
        "z": "f6054fb420cc5826",
        "name": "",
        "topic": "scada/humidity",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6ef436832a73cd28",
        "x": 520,
        "y": 620,
        "wires": []
    }
]